<div class="chart-header">
<h1>SONIC NEWS</h1>

</div>


<div class="chart">
<div class="row">
<div class="col"></div>
<div class="col-10">

<ul>
</ul>

</div>
<div class="col"></div>
</div>
</div>

<div class="chart-footer">
<%= link_to 'New Article', new_blog_path %>
</div>


