<div class="chart-header">
<h1>CHARTS</h1>

</div>


<div class="chart">
<div class="row">
<div class="col"></div>
<div class="col-10">
<ul>
  <% @charts.each do |chart|%>
    <li class="card mb-3"><%= link_to chart.title, chart_path(chart) %></li>
  <% end %>
</ul>

</div>
<div class="col"></div>
</div>
</div>

<div class="chart-footer">
<%= link_to 'New Chart', new_chart_path %>
</div>


