<ul>
<li><i class="fas fa-headphones-alt"></i> SONICTABLE </li>
<li> <%= link_to 'Artists', artists_path %> </li>
<li> <%= link_to 'Add Artist', new_artist_path %> </li>
<li> <%= link_to 'Charts', charts_path %> </li>
<li> <%= link_to 'Add a Chart', new_chart_path %> </li>

</ul>