<nav class="navbar navbar-expand sonicNav"> 
<h3><i class="fas fa-headphones-alt"></i> SONICTABLE </h3>

  <div class="navbar " id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="nav-item nav-link"> <%= link_to 'Charts', charts_path %> </div>
      <div class="nav-item nav-link"> <%= link_to 'Artists', artists_path %> </div>
    </div>
  </div>
</nav>